@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.3166247903554s;
      animation-iteration-count: infinite;
      animation-delay: 0.032196969696969696s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.345207879911715s;
      animation-iteration-count: infinite;
      animation-delay: 0.07305194805194805s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9148542155126762s;
      animation-iteration-count: infinite;
      animation-delay: 0.1131198347107438s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6583123951777s;
      animation-iteration-count: infinite;
      animation-delay: 0.15303030303030302s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4832396974191326s;
      animation-iteration-count: infinite;
      animation-delay: 0.1928827751196172s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.35400640077266s;
      animation-iteration-count: infinite;
      animation-delay: 0.2327075098814229s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2535663410560174s;
      animation-iteration-count: infinite;
      animation-delay: 0.272516835016835s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1726039399558574s;
      animation-iteration-count: infinite;
      animation-delay: 0.312316715542522s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1055415967851334s;
      animation-iteration-count: infinite;
      animation-delay: 0.35211038961038965s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0488088481701516s;
      animation-iteration-count: infinite;
      animation-delay: 0.3918997668997669s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.4316860465116279s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9574271077563381s;
      animation-iteration-count: infinite;
      animation-delay: 0.47147001934235977s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9198662110077999s;
      animation-iteration-count: infinite;
      animation-delay: 0.5112522281639929s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8864052604279183s;
      animation-iteration-count: infinite;
      animation-delay: 0.5510330578512397s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8563488385776752s;
      animation-iteration-count: infinite;
      animation-delay: 0.5908127889060093s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.82915619758885s;
      animation-iteration-count: infinite;
      animation-delay: 0.6305916305916306s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8043996665398437s;
      animation-iteration-count: infinite;
      animation-delay: 0.6703697421981004s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7817359599705717s;
      animation-iteration-count: infinite;
      animation-delay: 0.7101472471190781s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7608859102526822s;
      animation-iteration-count: infinite;
      animation-delay: 0.7499242424242424s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7416198487095663s;
      animation-iteration-count: infinite;
      animation-delay: 0.7897008055235903s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7237468644557459s;
      animation-iteration-count: infinite;
      animation-delay: 0.8294769989047097s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7071067811865476s;
      animation-iteration-count: infinite;
      animation-delay: 0.8692528735632183s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6915640748081247s;
      animation-iteration-count: infinite;
      animation-delay: 0.9090284715284715s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.67700320038633s;
      animation-iteration-count: infinite;
      animation-delay: 0.9488038277511961s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6633249580710799s;
      animation-iteration-count: infinite;
      animation-delay: 0.988578971533517s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6504436355879909s;
      animation-iteration-count: infinite;
      animation-delay: 1.0283539276257723s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6382847385042254s;
      animation-iteration-count: infinite;
      animation-delay: 1.0681287170773153s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6267831705280087s;
      animation-iteration-count: infinite;
      animation-delay: 1.107903357903358s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6158817620514397s;
      animation-iteration-count: infinite;
      animation-delay: 1.147677865612648s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6055300708194983s;
      animation-iteration-count: infinite;
      animation-delay: 1.1874522536287242s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5956833971812706s;
      animation-iteration-count: infinite;
      animation-delay: 1.2272265336289727s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-11DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5863019699779287s;
      animation-iteration-count: infinite;
      animation-delay: 1.2670007158196135s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-11waves{
      @include rainbowV2();
      @include row1-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-11waves{
      @include rainbowV2();
      @include row2-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-11waves{
      @include rainbowV2();
      @include row3-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-11waves{
      @include rainbowV2();
      @include row4-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-11waves{
      @include rainbowV2();
      @include row5-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-11waves{
      @include rainbowV2();
      @include row6-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-11waves{
      @include rainbowV2();
      @include row7-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-11waves{
      @include rainbowV2();
      @include row8-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-11waves{
      @include rainbowV2();
      @include row9-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-11waves{
      @include rainbowV2();
      @include row10-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-11waves{
      @include rainbowV2();
      @include row11-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-11waves{
      @include rainbowV2();
      @include row12-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-11waves{
      @include rainbowV2();
      @include row13-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-11waves{
      @include rainbowV2();
      @include row14-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-11waves{
      @include rainbowV2();
      @include row15-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-11waves{
      @include rainbowV2();
      @include row16-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-11waves{
      @include rainbowV2();
      @include row17-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-11waves{
      @include rainbowV2();
      @include row18-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-11waves{
      @include rainbowV2();
      @include row19-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-11waves{
      @include rainbowV2();
      @include row20-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-11waves{
      @include rainbowV2();
      @include row21-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-11waves{
      @include rainbowV2();
      @include row22-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-11waves{
      @include rainbowV2();
      @include row23-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-11waves{
      @include rainbowV2();
      @include row24-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-11waves{
      @include rainbowV2();
      @include row25-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-11waves{
      @include rainbowV2();
      @include row26-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-11waves{
      @include rainbowV2();
      @include row27-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-11waves{
      @include rainbowV2();
      @include row28-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-11waves{
      @include rainbowV2();
      @include row29-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-11waves{
      @include rainbowV2();
      @include row30-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-11waves{
      @include rainbowV2();
      @include row31-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-11waves{
      @include rainbowV2();
      @include row32-11DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      