@mixin rainbowTestAll {
        @keyframes rainbowTestAllAnim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.018958333333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.044583333333333336s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.076875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.11583333333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.16145833333333331s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.21375000000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.27270833333333333s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.3383333333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.410625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.4895833333333333s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.5752083333333333s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6675000000000001s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.7664583333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.8720833333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.984375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.1033333333333335s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.2289583333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.36125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.5002083333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.6458333333333333s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.798125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.9570833333333333s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.1227083333333336s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.2950000000000004s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.4739583333333335s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.6595833333333334s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.851875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.0508333333333337s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.2564583333333337s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.46875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.6877083333333336s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-15Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.9133333333333336s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-15 {
      @include rainbowTestAll();
      @include row1-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-15 {
      @include rainbowTestAll();
      @include row2-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-15 {
      @include rainbowTestAll();
      @include row3-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-15 {
      @include rainbowTestAll();
      @include row4-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-15 {
      @include rainbowTestAll();
      @include row5-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-15 {
      @include rainbowTestAll();
      @include row6-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-15 {
      @include rainbowTestAll();
      @include row7-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-15 {
      @include rainbowTestAll();
      @include row8-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-15 {
      @include rainbowTestAll();
      @include row9-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-15 {
      @include rainbowTestAll();
      @include row10-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-15 {
      @include rainbowTestAll();
      @include row11-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-15 {
      @include rainbowTestAll();
      @include row12-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-15 {
      @include rainbowTestAll();
      @include row13-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-15 {
      @include rainbowTestAll();
      @include row14-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-15 {
      @include rainbowTestAll();
      @include row15-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-15 {
      @include rainbowTestAll();
      @include row16-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-15 {
      @include rainbowTestAll();
      @include row17-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-15 {
      @include rainbowTestAll();
      @include row18-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-15 {
      @include rainbowTestAll();
      @include row19-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-15 {
      @include rainbowTestAll();
      @include row20-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-15 {
      @include rainbowTestAll();
      @include row21-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-15 {
      @include rainbowTestAll();
      @include row22-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-15 {
      @include rainbowTestAll();
      @include row23-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-15 {
      @include rainbowTestAll();
      @include row24-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-15 {
      @include rainbowTestAll();
      @include row25-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-15 {
      @include rainbowTestAll();
      @include row26-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-15 {
      @include rainbowTestAll();
      @include row27-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-15 {
      @include rainbowTestAll();
      @include row28-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-15 {
      @include rainbowTestAll();
      @include row29-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-15 {
      @include rainbowTestAll();
      @include row30-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-15 {
      @include rainbowTestAll();
      @include row31-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-15 {
      @include rainbowTestAll();
      @include row32-15Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      