@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.029829545454545456s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.029356060606060608s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.03494318181818182s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.0413961038961039s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.04813762626262627s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.0550103305785124s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.06195367132867133s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.06893939393939394s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.07595254010695188s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.08298444976076558s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.09002976190476192s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: -0.09708498023715417s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.083333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.10414772727272725s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.11121632996632996s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.11828957680250785s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.125366568914956s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.416666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.13244662534435264s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.13952922077922075s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.583333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.14661394348894347s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.15370046620046623s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.1607885254988914s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.1678779069767442s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.916666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.17496843434343434s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: -0.18205996131528046s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.0833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.18915236549165126s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.1666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.1962455436720143s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.20333940823327623s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.3333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.21043388429752063s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.4166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.21752890749601284s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.2246244221879815s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.23172038002980633s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-22DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.23881673881673882s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-22V2{
      @include rainbowV2();
      @include row1-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-22V2{
      @include rainbowV2();
      @include row2-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-22V2{
      @include rainbowV2();
      @include row3-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-22V2{
      @include rainbowV2();
      @include row4-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-22V2{
      @include rainbowV2();
      @include row5-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-22V2{
      @include rainbowV2();
      @include row6-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-22V2{
      @include rainbowV2();
      @include row7-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-22V2{
      @include rainbowV2();
      @include row8-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-22V2{
      @include rainbowV2();
      @include row9-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-22V2{
      @include rainbowV2();
      @include row10-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-22V2{
      @include rainbowV2();
      @include row11-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-22V2{
      @include rainbowV2();
      @include row12-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-22V2{
      @include rainbowV2();
      @include row13-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-22V2{
      @include rainbowV2();
      @include row14-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-22V2{
      @include rainbowV2();
      @include row15-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-22V2{
      @include rainbowV2();
      @include row16-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-22V2{
      @include rainbowV2();
      @include row17-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-22V2{
      @include rainbowV2();
      @include row18-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-22V2{
      @include rainbowV2();
      @include row19-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-22V2{
      @include rainbowV2();
      @include row20-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-22V2{
      @include rainbowV2();
      @include row21-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-22V2{
      @include rainbowV2();
      @include row22-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-22V2{
      @include rainbowV2();
      @include row23-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-22V2{
      @include rainbowV2();
      @include row24-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-22V2{
      @include rainbowV2();
      @include row25-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-22V2{
      @include rainbowV2();
      @include row26-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-22V2{
      @include rainbowV2();
      @include row27-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-22V2{
      @include rainbowV2();
      @include row28-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-22V2{
      @include rainbowV2();
      @include row29-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-22V2{
      @include rainbowV2();
      @include row30-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-22V2{
      @include rainbowV2();
      @include row31-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-22V2{
      @include rainbowV2();
      @include row32-22DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      