@mixin spiral {
        @keyframes spiralAnim {
          0% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 255, 255, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 11s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 11.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 12s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 12.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 13s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 13.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 14s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 14.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 15s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 15.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-15Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 16s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-15spiral{
      @include spiral();
      @include row1-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-15spiral{
      @include spiral();
      @include row2-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-15spiral{
      @include spiral();
      @include row3-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-15spiral{
      @include spiral();
      @include row4-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-15spiral{
      @include spiral();
      @include row5-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-15spiral{
      @include spiral();
      @include row6-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-15spiral{
      @include spiral();
      @include row7-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-15spiral{
      @include spiral();
      @include row8-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-15spiral{
      @include spiral();
      @include row9-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-15spiral{
      @include spiral();
      @include row10-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-15spiral{
      @include spiral();
      @include row11-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-15spiral{
      @include spiral();
      @include row12-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-15spiral{
      @include spiral();
      @include row13-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-15spiral{
      @include spiral();
      @include row14-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-15spiral{
      @include spiral();
      @include row15-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-15spiral{
      @include spiral();
      @include row16-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-15spiral{
      @include spiral();
      @include row17-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-15spiral{
      @include spiral();
      @include row18-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-15spiral{
      @include spiral();
      @include row19-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-15spiral{
      @include spiral();
      @include row20-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-15spiral{
      @include spiral();
      @include row21-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-15spiral{
      @include spiral();
      @include row22-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-15spiral{
      @include spiral();
      @include row23-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-15spiral{
      @include spiral();
      @include row24-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-15spiral{
      @include spiral();
      @include row25-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-15spiral{
      @include spiral();
      @include row26-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-15spiral{
      @include spiral();
      @include row27-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-15spiral{
      @include spiral();
      @include row28-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-15spiral{
      @include spiral();
      @include row29-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-15spiral{
      @include spiral();
      @include row30-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-15spiral{
      @include spiral();
      @include row31-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-15spiral{
      @include spiral();
      @include row32-15Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }