@mixin spiral {
        @keyframes spiralAnim {
          0% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 255, 255, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 11s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 12s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 13s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 14s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 15s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 16s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 17s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 18s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 19s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 20s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 21s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 22s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 23s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 24s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 26s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 27s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 28s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 29s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 30s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 31s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-31Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 32s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-31spiral{
      @include spiral();
      @include row1-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-31spiral{
      @include spiral();
      @include row2-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-31spiral{
      @include spiral();
      @include row3-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-31spiral{
      @include spiral();
      @include row4-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-31spiral{
      @include spiral();
      @include row5-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-31spiral{
      @include spiral();
      @include row6-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-31spiral{
      @include spiral();
      @include row7-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-31spiral{
      @include spiral();
      @include row8-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-31spiral{
      @include spiral();
      @include row9-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-31spiral{
      @include spiral();
      @include row10-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-31spiral{
      @include spiral();
      @include row11-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-31spiral{
      @include spiral();
      @include row12-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-31spiral{
      @include spiral();
      @include row13-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-31spiral{
      @include spiral();
      @include row14-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-31spiral{
      @include spiral();
      @include row15-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-31spiral{
      @include spiral();
      @include row16-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-31spiral{
      @include spiral();
      @include row17-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-31spiral{
      @include spiral();
      @include row18-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-31spiral{
      @include spiral();
      @include row19-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-31spiral{
      @include spiral();
      @include row20-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-31spiral{
      @include spiral();
      @include row21-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-31spiral{
      @include spiral();
      @include row22-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-31spiral{
      @include spiral();
      @include row23-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-31spiral{
      @include spiral();
      @include row24-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-31spiral{
      @include spiral();
      @include row25-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-31spiral{
      @include spiral();
      @include row26-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-31spiral{
      @include spiral();
      @include row27-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-31spiral{
      @include spiral();
      @include row28-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-31spiral{
      @include spiral();
      @include row29-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-31spiral{
      @include spiral();
      @include row30-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-31spiral{
      @include spiral();
      @include row31-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-31spiral{
      @include spiral();
      @include row32-31Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }