@mixin spiral {
        @keyframes spiralAnim {
          0% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 255, 255, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.3125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.9375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.5625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.1875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.8125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.4375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.0625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.6875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.3125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.9375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.5625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7.1875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7.8125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.4375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9.0625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9.6875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-9Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-9spiral{
      @include spiral();
      @include row1-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-9spiral{
      @include spiral();
      @include row2-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-9spiral{
      @include spiral();
      @include row3-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-9spiral{
      @include spiral();
      @include row4-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-9spiral{
      @include spiral();
      @include row5-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-9spiral{
      @include spiral();
      @include row6-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-9spiral{
      @include spiral();
      @include row7-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-9spiral{
      @include spiral();
      @include row8-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-9spiral{
      @include spiral();
      @include row9-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-9spiral{
      @include spiral();
      @include row10-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-9spiral{
      @include spiral();
      @include row11-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-9spiral{
      @include spiral();
      @include row12-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-9spiral{
      @include spiral();
      @include row13-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-9spiral{
      @include spiral();
      @include row14-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-9spiral{
      @include spiral();
      @include row15-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-9spiral{
      @include spiral();
      @include row16-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-9spiral{
      @include spiral();
      @include row17-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-9spiral{
      @include spiral();
      @include row18-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-9spiral{
      @include spiral();
      @include row19-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-9spiral{
      @include spiral();
      @include row20-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-9spiral{
      @include spiral();
      @include row21-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-9spiral{
      @include spiral();
      @include row22-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-9spiral{
      @include spiral();
      @include row23-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-9spiral{
      @include spiral();
      @include row24-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-9spiral{
      @include spiral();
      @include row25-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-9spiral{
      @include spiral();
      @include row26-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-9spiral{
      @include spiral();
      @include row27-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-9spiral{
      @include spiral();
      @include row28-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-9spiral{
      @include spiral();
      @include row29-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-9spiral{
      @include spiral();
      @include row30-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-9spiral{
      @include spiral();
      @include row31-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-9spiral{
      @include spiral();
      @include row32-9Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }