.controls-container {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.preset-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 200px;
  margin-bottom: 10px;
}

.preset-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
  color: white;
  background-color: black;
  cursor: pointer;
}
.rainbow-anim {
  animation-name: rainbowButtonAnim;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rainbowButtonAnim {
  0% {
    background-color: black;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: purple;
  }
}

.preset-button-disabled {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  cursor: default;
}

.save-button {
  background-color: blue !important;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.preset-button-text {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.led-matrix-container {
  margin-top: 0;
}

.border-top-led {
  border-top: ridge 5px rgb(67, 26, 163);
  border-radius: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/*************** MEDIA QUERIES START ********************/
/********************************************************/
/********************************************************/
@media screen and (max-width: 414px) {
  .led-matrix-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 411px) {
  .led-matrix-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px){
  .led-matrix-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 280px){
  .led-matrix-container {
    margin-top: 50px;
  }
}