.controls-container {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.preset-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 10wh;
  margin-bottom: 10px;
}

.save-button {
  background-color: blue !important;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.preset-button-text {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.led-matrix-container {
  margin-top: 10vh;
}

.border-top-led {
  border-top: ridge 5px rgb(67, 26, 163);
  border-radius: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/*************** MEDIA QUERIES START ********************/
/********************************************************/
/********************************************************/
/* @media screen and (max-width: 414px) {
  .led-matrix-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 411px) {
  .led-matrix-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px){
  .led-matrix-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 280px){
  .led-matrix-container {
    margin-top: 50px;
  }
} */