@mixin rainbowTestAll {
        @keyframes rainbowTestAllAnim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.020170454545454547s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.04943181818181819s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.08778409090909091s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.13522727272727275s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.19176136363636365s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.25738636363636364s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.3321022727272728s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.41590909090909095s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.5088068181818182s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6107954545454546s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.721875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.8420454545454545s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.9713068181818183s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.109659090909091s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.2571022727272727s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.4136363636363638s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.5792613636363637s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.7539772727272729s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.937784090909091s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.1306818181818183s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.332670454545455s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.54375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.7639204545454548s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.993181818181818s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.2315340909090913s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.478977272727273s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.735511363636364s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 4.001136363636364s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 4.275852272727273s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 4.559659090909091s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 4.852556818181818s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-11Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 5.154545454545455s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-11 {
      @include rainbowTestAll();
      @include row1-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-11 {
      @include rainbowTestAll();
      @include row2-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-11 {
      @include rainbowTestAll();
      @include row3-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-11 {
      @include rainbowTestAll();
      @include row4-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-11 {
      @include rainbowTestAll();
      @include row5-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-11 {
      @include rainbowTestAll();
      @include row6-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-11 {
      @include rainbowTestAll();
      @include row7-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-11 {
      @include rainbowTestAll();
      @include row8-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-11 {
      @include rainbowTestAll();
      @include row9-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-11 {
      @include rainbowTestAll();
      @include row10-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-11 {
      @include rainbowTestAll();
      @include row11-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-11 {
      @include rainbowTestAll();
      @include row12-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-11 {
      @include rainbowTestAll();
      @include row13-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-11 {
      @include rainbowTestAll();
      @include row14-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-11 {
      @include rainbowTestAll();
      @include row15-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-11 {
      @include rainbowTestAll();
      @include row16-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-11 {
      @include rainbowTestAll();
      @include row17-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-11 {
      @include rainbowTestAll();
      @include row18-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-11 {
      @include rainbowTestAll();
      @include row19-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-11 {
      @include rainbowTestAll();
      @include row20-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-11 {
      @include rainbowTestAll();
      @include row21-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-11 {
      @include rainbowTestAll();
      @include row22-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-11 {
      @include rainbowTestAll();
      @include row23-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-11 {
      @include rainbowTestAll();
      @include row24-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-11 {
      @include rainbowTestAll();
      @include row25-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-11 {
      @include rainbowTestAll();
      @include row26-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-11 {
      @include rainbowTestAll();
      @include row27-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-11 {
      @include rainbowTestAll();
      @include row28-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-11 {
      @include rainbowTestAll();
      @include row29-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-11 {
      @include rainbowTestAll();
      @include row30-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-11 {
      @include rainbowTestAll();
      @include row31-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-11 {
      @include rainbowTestAll();
      @include row32-11Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      