@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.449489742783178s;
      animation-iteration-count: infinite;
      animation-delay: 0.0069444444444444475s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7320508075688772s;
      animation-iteration-count: infinite;
      animation-delay: 0.029761904761904767s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4142135623730951s;
      animation-iteration-count: infinite;
      animation-delay: 0.051136363636363646s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.224744871391589s;
      animation-iteration-count: infinite;
      animation-delay: 0.07222222222222222s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0954451150103321s;
      animation-iteration-count: infinite;
      animation-delay: 0.09320175438596492s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.1141304347826087s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9258200997725514s;
      animation-iteration-count: infinite;
      animation-delay: 0.13503086419753085s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8660254037844386s;
      animation-iteration-count: infinite;
      animation-delay: 0.15591397849462363s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.816496580927726s;
      animation-iteration-count: infinite;
      animation-delay: 0.17678571428571427s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7745966692414834s;
      animation-iteration-count: infinite;
      animation-delay: 0.1976495726495726s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7385489458759964s;
      animation-iteration-count: infinite;
      animation-delay: 0.2185077519379845s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7071067811865476s;
      animation-iteration-count: infinite;
      animation-delay: 0.23936170212765961s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6793662204867574s;
      animation-iteration-count: infinite;
      animation-delay: 0.26021241830065367s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6546536707079771s;
      animation-iteration-count: infinite;
      animation-delay: 0.2810606060606061s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6324555320336759s;
      animation-iteration-count: infinite;
      animation-delay: 0.301906779661017s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6123724356957945s;
      animation-iteration-count: infinite;
      animation-delay: 0.3227513227513228s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5940885257860046s;
      animation-iteration-count: infinite;
      animation-delay: 0.3435945273631841s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5773502691896257s;
      animation-iteration-count: infinite;
      animation-delay: 0.3644366197183099s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5619514869490163s;
      animation-iteration-count: infinite;
      animation-delay: 0.38527777777777783s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5477225575051661s;
      animation-iteration-count: infinite;
      animation-delay: 0.4061181434599156s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5345224838248488s;
      animation-iteration-count: infinite;
      animation-delay: 0.4269578313253013s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5222329678670935s;
      animation-iteration-count: infinite;
      animation-delay: 0.44779693486590033s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5107539184552492s;
      animation-iteration-count: infinite;
      animation-delay: 0.46863553113553114s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-delay: 0.4894736842105263s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4898979485566356s;
      animation-iteration-count: infinite;
      animation-delay: 0.5103114478114479s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4803844614152614s;
      animation-iteration-count: infinite;
      animation-delay: 0.531148867313916s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4714045207910317s;
      animation-iteration-count: infinite;
      animation-delay: 0.5519859813084111s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4629100498862757s;
      animation-iteration-count: infinite;
      animation-delay: 0.5728228228228227s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.454858826147342s;
      animation-iteration-count: infinite;
      animation-delay: 0.5936594202898551s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4472135954999579s;
      animation-iteration-count: infinite;
      animation-delay: 0.6144957983193278s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.43994134506405985s;
      animation-iteration-count: infinite;
      animation-delay: 0.635331978319783s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-6DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4330127018922193s;
      animation-iteration-count: infinite;
      animation-delay: 0.6561679790026247s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
    .led1-6waves{
      @include rainbowV2();
      @include row1-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-6waves{
      @include rainbowV2();
      @include row2-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-6waves{
      @include rainbowV2();
      @include row3-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-6waves{
      @include rainbowV2();
      @include row4-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-6waves{
      @include rainbowV2();
      @include row5-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-6waves{
      @include rainbowV2();
      @include row6-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-6waves{
      @include rainbowV2();
      @include row7-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-6waves{
      @include rainbowV2();
      @include row8-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-6waves{
      @include rainbowV2();
      @include row9-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-6waves{
      @include rainbowV2();
      @include row10-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-6waves{
      @include rainbowV2();
      @include row11-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-6waves{
      @include rainbowV2();
      @include row12-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-6waves{
      @include rainbowV2();
      @include row13-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-6waves{
      @include rainbowV2();
      @include row14-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-6waves{
      @include rainbowV2();
      @include row15-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-6waves{
      @include rainbowV2();
      @include row16-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-6waves{
      @include rainbowV2();
      @include row17-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-6waves{
      @include rainbowV2();
      @include row18-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-6waves{
      @include rainbowV2();
      @include row19-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-6waves{
      @include rainbowV2();
      @include row20-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-6waves{
      @include rainbowV2();
      @include row21-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-6waves{
      @include rainbowV2();
      @include row22-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-6waves{
      @include rainbowV2();
      @include row23-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-6waves{
      @include rainbowV2();
      @include row24-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-6waves{
      @include rainbowV2();
      @include row25-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-6waves{
      @include rainbowV2();
      @include row26-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-6waves{
      @include rainbowV2();
      @include row27-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-6waves{
      @include rainbowV2();
      @include row28-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-6waves{
      @include rainbowV2();
      @include row29-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-6waves{
      @include rainbowV2();
      @include row30-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-6waves{
      @include rainbowV2();
      @include row31-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-6waves{
      @include rainbowV2();
      @include row32-6DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }