@import '../_variables/variables';

@mixin flexCenter {
  display: flex;
  justify-content: center;
}
header {
  background: grey;
  @include flexCenter();
  height: 100px;
  align-items: center;
  color: $headerTextColor;
  button {
    background: $primaryColor;
    &:hover {
      background: red;
    }
    // &::after {
    //   content: 'hellooo'
    // }
  }
  p {
    font-size: 20px;
  }
  span {
    font-size: 20px;
  }
}