@mixin rainbowFourSpirals {
        @keyframes rainbowFourSpiralsAnim{
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 8.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 9.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 11s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 12.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 13.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 15.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 16.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 17.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 19.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 20.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 22s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 23.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 24.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 26.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 27.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 28.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 30.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 31.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 33s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 34.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 35.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 37.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 38.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 39.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 41.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 42.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-21DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 44s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-21fourSpirals{
      @include rainbowFourSpirals();
      @include row1-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-21fourSpirals{
      @include rainbowFourSpirals();
      @include row2-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-21fourSpirals{
      @include rainbowFourSpirals();
      @include row3-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-21fourSpirals{
      @include rainbowFourSpirals();
      @include row4-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-21fourSpirals{
      @include rainbowFourSpirals();
      @include row5-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-21fourSpirals{
      @include rainbowFourSpirals();
      @include row6-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-21fourSpirals{
      @include rainbowFourSpirals();
      @include row7-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-21fourSpirals{
      @include rainbowFourSpirals();
      @include row8-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-21fourSpirals{
      @include rainbowFourSpirals();
      @include row9-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-21fourSpirals{
      @include rainbowFourSpirals();
      @include row10-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-21fourSpirals{
      @include rainbowFourSpirals();
      @include row11-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-21fourSpirals{
      @include rainbowFourSpirals();
      @include row12-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-21fourSpirals{
      @include rainbowFourSpirals();
      @include row13-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-21fourSpirals{
      @include rainbowFourSpirals();
      @include row14-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-21fourSpirals{
      @include rainbowFourSpirals();
      @include row15-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-21fourSpirals{
      @include rainbowFourSpirals();
      @include row16-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-21fourSpirals{
      @include rainbowFourSpirals();
      @include row17-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-21fourSpirals{
      @include rainbowFourSpirals();
      @include row18-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-21fourSpirals{
      @include rainbowFourSpirals();
      @include row19-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-21fourSpirals{
      @include rainbowFourSpirals();
      @include row20-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-21fourSpirals{
      @include rainbowFourSpirals();
      @include row21-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-21fourSpirals{
      @include rainbowFourSpirals();
      @include row22-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-21fourSpirals{
      @include rainbowFourSpirals();
      @include row23-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-21fourSpirals{
      @include rainbowFourSpirals();
      @include row24-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-21fourSpirals{
      @include rainbowFourSpirals();
      @include row25-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-21fourSpirals{
      @include rainbowFourSpirals();
      @include row26-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-21fourSpirals{
      @include rainbowFourSpirals();
      @include row27-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-21fourSpirals{
      @include rainbowFourSpirals();
      @include row28-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-21fourSpirals{
      @include rainbowFourSpirals();
      @include row29-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-21fourSpirals{
      @include rainbowFourSpirals();
      @include row30-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-21fourSpirals{
      @include rainbowFourSpirals();
      @include row31-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-21fourSpirals{
      @include rainbowFourSpirals();
      @include row32-21DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }