@mixin rainbowFourSpirals {
        @keyframes rainbowFourSpiralsAnim{
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.0625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 3.1875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5.3125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 7.4375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 8.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 9.5625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 10.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 11.6875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 12.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 13.8125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 14.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 15.9375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 17s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 18.0625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 19.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 20.1875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 21.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 22.3125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 23.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 24.4375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 25.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 26.5625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 27.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 28.6875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 29.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 30.8125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 31.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 32.9375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-16DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 34s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-16fourSpirals{
      @include rainbowFourSpirals();
      @include row1-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-16fourSpirals{
      @include rainbowFourSpirals();
      @include row2-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-16fourSpirals{
      @include rainbowFourSpirals();
      @include row3-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-16fourSpirals{
      @include rainbowFourSpirals();
      @include row4-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-16fourSpirals{
      @include rainbowFourSpirals();
      @include row5-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-16fourSpirals{
      @include rainbowFourSpirals();
      @include row6-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-16fourSpirals{
      @include rainbowFourSpirals();
      @include row7-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-16fourSpirals{
      @include rainbowFourSpirals();
      @include row8-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-16fourSpirals{
      @include rainbowFourSpirals();
      @include row9-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-16fourSpirals{
      @include rainbowFourSpirals();
      @include row10-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-16fourSpirals{
      @include rainbowFourSpirals();
      @include row11-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-16fourSpirals{
      @include rainbowFourSpirals();
      @include row12-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-16fourSpirals{
      @include rainbowFourSpirals();
      @include row13-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-16fourSpirals{
      @include rainbowFourSpirals();
      @include row14-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-16fourSpirals{
      @include rainbowFourSpirals();
      @include row15-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-16fourSpirals{
      @include rainbowFourSpirals();
      @include row16-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-16fourSpirals{
      @include rainbowFourSpirals();
      @include row17-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-16fourSpirals{
      @include rainbowFourSpirals();
      @include row18-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-16fourSpirals{
      @include rainbowFourSpirals();
      @include row19-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-16fourSpirals{
      @include rainbowFourSpirals();
      @include row20-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-16fourSpirals{
      @include rainbowFourSpirals();
      @include row21-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-16fourSpirals{
      @include rainbowFourSpirals();
      @include row22-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-16fourSpirals{
      @include rainbowFourSpirals();
      @include row23-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-16fourSpirals{
      @include rainbowFourSpirals();
      @include row24-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-16fourSpirals{
      @include rainbowFourSpirals();
      @include row25-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-16fourSpirals{
      @include rainbowFourSpirals();
      @include row26-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-16fourSpirals{
      @include rainbowFourSpirals();
      @include row27-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-16fourSpirals{
      @include rainbowFourSpirals();
      @include row28-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-16fourSpirals{
      @include rainbowFourSpirals();
      @include row29-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-16fourSpirals{
      @include rainbowFourSpirals();
      @include row30-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-16fourSpirals{
      @include rainbowFourSpirals();
      @include row31-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-16fourSpirals{
      @include rainbowFourSpirals();
      @include row32-16DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }