@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4.795831523312719s;
      animation-iteration-count: infinite;
      animation-delay: 0.04800724637681159s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.391164991562634s;
      animation-iteration-count: infinite;
      animation-delay: 0.1001552795031056s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.7688746209726918s;
      animation-iteration-count: infinite;
      animation-delay: 0.15192687747035571s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.3979157616563596s;
      animation-iteration-count: infinite;
      animation-delay: 0.2036231884057971s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.1447610589527217s;
      animation-iteration-count: infinite;
      animation-delay: 0.25529176201373s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9578900207451218s;
      animation-iteration-count: infinite;
      animation-delay: 0.30694706994328924s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8126539343499315s;
      animation-iteration-count: infinite;
      animation-delay: 0.3585950080515298s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.695582495781317s;
      animation-iteration-count: infinite;
      animation-delay: 0.4102384291725105s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5986105077709065s;
      animation-iteration-count: infinite;
      animation-delay: 0.46187888198757765s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.51657508881031s;
      animation-iteration-count: infinite;
      animation-delay: 0.5135172798216276s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4459976109624424s;
      animation-iteration-count: infinite;
      animation-delay: 0.5651541961577351s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3844373104863459s;
      animation-iteration-count: infinite;
      animation-delay: 0.6167900092506938s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3301243435223524s;
      animation-iteration-count: infinite;
      animation-delay: 0.668424978687127s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2817398889233114s;
      animation-iteration-count: infinite;
      animation-delay: 0.7200592885375494s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2382783747337807s;
      animation-iteration-count: infinite;
      animation-delay: 0.771693072955048s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1989578808281798s;
      animation-iteration-count: infinite;
      animation-delay: 0.8233264320220842s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1631599960755994s;
      animation-iteration-count: infinite;
      animation-delay: 0.8749594419208306s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.130388330520878s;
      animation-iteration-count: infinite;
      animation-delay: 0.9265921616656461s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1002392084403616s;
      animation-iteration-count: infinite;
      animation-delay: 0.9782246376811594s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0723805294763609s;
      animation-iteration-count: infinite;
      animation-delay: 1.0298569069895431s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0465362369445672s;
      animation-iteration-count: infinite;
      animation-delay: 1.0814889994761656s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.02247471629109s;
      animation-iteration-count: infinite;
      animation-delay: 1.1331209395302348s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.1847527472527473s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9789450103725609s;
      animation-iteration-count: infinite;
      animation-delay: 1.2363844393592678s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9591663046625439s;
      animation-iteration-count: infinite;
      animation-delay: 1.2880160298638559s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9405399431259602s;
      animation-iteration-count: infinite;
      animation-delay: 1.3396475306036302s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9229582069908973s;
      animation-iteration-count: infinite;
      animation-delay: 1.3912789516456725s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9063269671749657s;
      animation-iteration-count: infinite;
      animation-delay: 1.442910301605954s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8905635565617213s;
      animation-iteration-count: infinite;
      animation-delay: 1.4945415879017014s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8755950357709131s;
      animation-iteration-count: infinite;
      animation-delay: 1.5461728169528681s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.861356769214109s;
      animation-iteration-count: infinite;
      animation-delay: 1.5978039943442912s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-23DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8477912478906585s;
      animation-iteration-count: infinite;
      animation-delay: 1.6494351249572063s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-23waves{
      @include rainbowV2();
      @include row1-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-23waves{
      @include rainbowV2();
      @include row2-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-23waves{
      @include rainbowV2();
      @include row3-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-23waves{
      @include rainbowV2();
      @include row4-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-23waves{
      @include rainbowV2();
      @include row5-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-23waves{
      @include rainbowV2();
      @include row6-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-23waves{
      @include rainbowV2();
      @include row7-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-23waves{
      @include rainbowV2();
      @include row8-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-23waves{
      @include rainbowV2();
      @include row9-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-23waves{
      @include rainbowV2();
      @include row10-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-23waves{
      @include rainbowV2();
      @include row11-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-23waves{
      @include rainbowV2();
      @include row12-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-23waves{
      @include rainbowV2();
      @include row13-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-23waves{
      @include rainbowV2();
      @include row14-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-23waves{
      @include rainbowV2();
      @include row15-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-23waves{
      @include rainbowV2();
      @include row16-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-23waves{
      @include rainbowV2();
      @include row17-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-23waves{
      @include rainbowV2();
      @include row18-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-23waves{
      @include rainbowV2();
      @include row19-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-23waves{
      @include rainbowV2();
      @include row20-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-23waves{
      @include rainbowV2();
      @include row21-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-23waves{
      @include rainbowV2();
      @include row22-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-23waves{
      @include rainbowV2();
      @include row23-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-23waves{
      @include rainbowV2();
      @include row24-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-23waves{
      @include rainbowV2();
      @include row25-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-23waves{
      @include rainbowV2();
      @include row26-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-23waves{
      @include rainbowV2();
      @include row27-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-23waves{
      @include rainbowV2();
      @include row28-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-23waves{
      @include rainbowV2();
      @include row29-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-23waves{
      @include rainbowV2();
      @include row30-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-23waves{
      @include rainbowV2();
      @include row31-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-23waves{
      @include rainbowV2();
      @include row32-23DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      