@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4.242640687119285s;
      animation-iteration-count: infinite;
      animation-delay: 0.04398148148148148s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 0.09325396825396826s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.449489742783178s;
      animation-iteration-count: infinite;
      animation-delay: 0.14204545454545453s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.1213203435596424s;
      animation-iteration-count: infinite;
      animation-delay: 0.19074074074074074s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8973665961010275s;
      animation-iteration-count: infinite;
      animation-delay: 0.23940058479532164s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7320508075688772s;
      animation-iteration-count: infinite;
      animation-delay: 0.28804347826086957s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6035674514745464s;
      animation-iteration-count: infinite;
      animation-delay: 0.3366769547325103s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-delay: 0.3853046594982079s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4142135623730951s;
      animation-iteration-count: infinite;
      animation-delay: 0.43392857142857144s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3416407864998738s;
      animation-iteration-count: infinite;
      animation-delay: 0.4825498575498576s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2792042981336627s;
      animation-iteration-count: infinite;
      animation-delay: 0.5311692506459949s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.224744871391589s;
      animation-iteration-count: infinite;
      animation-delay: 0.5797872340425532s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1766968108291043s;
      animation-iteration-count: infinite;
      animation-delay: 0.6284041394335512s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1338934190276817s;
      animation-iteration-count: infinite;
      animation-delay: 0.677020202020202s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0954451150103321s;
      animation-iteration-count: infinite;
      animation-delay: 0.725635593220339s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0606601717798212s;
      animation-iteration-count: infinite;
      animation-delay: 0.7742504409171076s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0289915108550531s;
      animation-iteration-count: infinite;
      animation-delay: 0.8228648424543947s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.8714788732394366s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9733285267845752s;
      animation-iteration-count: infinite;
      animation-delay: 0.9200925925925926s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9486832980505138s;
      animation-iteration-count: infinite;
      animation-delay: 0.9687060478199718s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9258200997725514s;
      animation-iteration-count: infinite;
      animation-delay: 1.0173192771084336s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9045340337332909s;
      animation-iteration-count: infinite;
      animation-delay: 1.0659323116219668s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8846517369293828s;
      animation-iteration-count: infinite;
      animation-delay: 1.114545177045177s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8660254037844386s;
      animation-iteration-count: infinite;
      animation-delay: 1.1631578947368422s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.848528137423857s;
      animation-iteration-count: infinite;
      animation-delay: 1.211770482603816s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8320502943378437s;
      animation-iteration-count: infinite;
      animation-delay: 1.2603829557713053s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.816496580927726s;
      animation-iteration-count: infinite;
      animation-delay: 1.3089953271028036s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8017837257372732s;
      animation-iteration-count: infinite;
      animation-delay: 1.3576076076076076s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7878385971583354s;
      animation-iteration-count: infinite;
      animation-delay: 1.406219806763285s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7745966692414834s;
      animation-iteration-count: infinite;
      animation-delay: 1.4548319327731094s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.762000762001143s;
      animation-iteration-count: infinite;
      animation-delay: 1.503443992773261s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-18DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.75s;
      animation-iteration-count: infinite;
      animation-delay: 1.5520559930008748s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-18waves{
      @include rainbowV2();
      @include row1-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-18waves{
      @include rainbowV2();
      @include row2-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-18waves{
      @include rainbowV2();
      @include row3-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-18waves{
      @include rainbowV2();
      @include row4-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-18waves{
      @include rainbowV2();
      @include row5-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-18waves{
      @include rainbowV2();
      @include row6-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-18waves{
      @include rainbowV2();
      @include row7-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-18waves{
      @include rainbowV2();
      @include row8-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-18waves{
      @include rainbowV2();
      @include row9-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-18waves{
      @include rainbowV2();
      @include row10-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-18waves{
      @include rainbowV2();
      @include row11-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-18waves{
      @include rainbowV2();
      @include row12-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-18waves{
      @include rainbowV2();
      @include row13-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-18waves{
      @include rainbowV2();
      @include row14-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-18waves{
      @include rainbowV2();
      @include row15-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-18waves{
      @include rainbowV2();
      @include row16-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-18waves{
      @include rainbowV2();
      @include row17-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-18waves{
      @include rainbowV2();
      @include row18-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-18waves{
      @include rainbowV2();
      @include row19-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-18waves{
      @include rainbowV2();
      @include row20-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-18waves{
      @include rainbowV2();
      @include row21-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-18waves{
      @include rainbowV2();
      @include row22-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-18waves{
      @include rainbowV2();
      @include row23-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-18waves{
      @include rainbowV2();
      @include row24-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-18waves{
      @include rainbowV2();
      @include row25-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-18waves{
      @include rainbowV2();
      @include row26-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-18waves{
      @include rainbowV2();
      @include row27-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-18waves{
      @include rainbowV2();
      @include row28-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-18waves{
      @include rainbowV2();
      @include row29-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-18waves{
      @include rainbowV2();
      @include row30-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-18waves{
      @include rainbowV2();
      @include row31-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-18waves{
      @include rainbowV2();
      @include row32-18DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      