@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.6457513110645907s;
      animation-iteration-count: infinite;
      animation-delay: 0.014880952380952384s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8708286933869707s;
      animation-iteration-count: infinite;
      animation-delay: 0.04336734693877552s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5275252316519468s;
      animation-iteration-count: infinite;
      animation-delay: 0.07061688311688312s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3228756555322954s;
      animation-iteration-count: infinite;
      animation-delay: 0.0976190476190476s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1832159566199232s;
      animation-iteration-count: infinite;
      animation-delay: 0.12453007518796994s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0801234497346435s;
      animation-iteration-count: infinite;
      animation-delay: 0.1513975155279503s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.17824074074074076s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9354143466934853s;
      animation-iteration-count: infinite;
      animation-delay: 0.20506912442396313s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8819171036881969s;
      animation-iteration-count: infinite;
      animation-delay: 0.2318877551020408s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8366600265340756s;
      animation-iteration-count: infinite;
      animation-delay: 0.2586996336996337s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7977240352174656s;
      animation-iteration-count: infinite;
      animation-delay: 0.2855066445182724s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7637626158259734s;
      animation-iteration-count: infinite;
      animation-delay: 0.3123100303951368s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7337993857053428s;
      animation-iteration-count: infinite;
      animation-delay: 0.33911064425770304s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7071067811865476s;
      animation-iteration-count: infinite;
      animation-delay: 0.36590909090909096s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6831300510639732s;
      animation-iteration-count: infinite;
      animation-delay: 0.3927058111380146s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6614378277661477s;
      animation-iteration-count: infinite;
      animation-delay: 0.41950113378684806s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6416889479197478s;
      animation-iteration-count: infinite;
      animation-delay: 0.4462953091684435s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6236095644623235s;
      animation-iteration-count: infinite;
      animation-delay: 0.4730885311871227s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6069769786668839s;
      animation-iteration-count: infinite;
      animation-delay: 0.4998809523809524s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5916079783099616s;
      animation-iteration-count: infinite;
      animation-delay: 0.5266726943942134s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5773502691896257s;
      animation-iteration-count: infinite;
      animation-delay: 0.5534638554216867s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5640760748177662s;
      animation-iteration-count: infinite;
      animation-delay: 0.5802545155993433s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5516772843673705s;
      animation-iteration-count: infinite;
      animation-delay: 0.6070447409733124s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5400617248673217s;
      animation-iteration-count: infinite;
      animation-delay: 0.6338345864661654s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5291502622129182s;
      animation-iteration-count: infinite;
      animation-delay: 0.6606240981240981s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5188745216627708s;
      animation-iteration-count: infinite;
      animation-delay: 0.6874133148404993s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5091750772173156s;
      animation-iteration-count: infinite;
      animation-delay: 0.7142022696929239s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-delay: 0.7409909909909911s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.4913036844405175s;
      animation-iteration-count: infinite;
      animation-delay: 0.7677795031055901s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.48304589153964794s;
      animation-iteration-count: infinite;
      animation-delay: 0.7945678271308523s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.47519096331149147s;
      animation-iteration-count: infinite;
      animation-delay: 0.8213559814169571s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-7DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.46770717334674267s;
      animation-iteration-count: infinite;
      animation-delay: 0.8481439820022496s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
    .led1-7waves{
      @include rainbowV2();
      @include row1-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-7waves{
      @include rainbowV2();
      @include row2-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-7waves{
      @include rainbowV2();
      @include row3-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-7waves{
      @include rainbowV2();
      @include row4-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-7waves{
      @include rainbowV2();
      @include row5-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-7waves{
      @include rainbowV2();
      @include row6-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-7waves{
      @include rainbowV2();
      @include row7-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-7waves{
      @include rainbowV2();
      @include row8-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-7waves{
      @include rainbowV2();
      @include row9-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-7waves{
      @include rainbowV2();
      @include row10-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-7waves{
      @include rainbowV2();
      @include row11-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-7waves{
      @include rainbowV2();
      @include row12-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-7waves{
      @include rainbowV2();
      @include row13-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-7waves{
      @include rainbowV2();
      @include row14-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-7waves{
      @include rainbowV2();
      @include row15-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-7waves{
      @include rainbowV2();
      @include row16-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-7waves{
      @include rainbowV2();
      @include row17-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-7waves{
      @include rainbowV2();
      @include row18-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-7waves{
      @include rainbowV2();
      @include row19-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-7waves{
      @include rainbowV2();
      @include row20-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-7waves{
      @include rainbowV2();
      @include row21-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-7waves{
      @include rainbowV2();
      @include row22-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-7waves{
      @include rainbowV2();
      @include row23-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-7waves{
      @include rainbowV2();
      @include row24-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-7waves{
      @include rainbowV2();
      @include row25-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-7waves{
      @include rainbowV2();
      @include row26-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-7waves{
      @include rainbowV2();
      @include row27-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-7waves{
      @include rainbowV2();
      @include row28-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-7waves{
      @include rainbowV2();
      @include row29-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-7waves{
      @include rainbowV2();
      @include row30-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-7waves{
      @include rainbowV2();
      @include row31-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-7waves{
      @include rainbowV2();
      @include row32-7DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }