@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 5.656854249492381s;
      animation-iteration-count: infinite;
      animation-delay: 0.052083333333333336s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.10714285714285715s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.265986323710904s;
      animation-iteration-count: infinite;
      animation-delay: 0.16193181818181818s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.8284271247461903s;
      animation-iteration-count: infinite;
      animation-delay: 0.21666666666666667s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.5298221281347035s;
      animation-iteration-count: infinite;
      animation-delay: 0.2713815789473684s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.309401076758503s;
      animation-iteration-count: infinite;
      animation-delay: 0.32608695652173914s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.138089935299395s;
      animation-iteration-count: infinite;
      animation-delay: 0.38078703703703703s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.43548387096774194s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8856180831641267s;
      animation-iteration-count: infinite;
      animation-delay: 0.4901785714285714s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7888543819998317s;
      animation-iteration-count: infinite;
      animation-delay: 0.5448717948717948s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7056057308448835s;
      animation-iteration-count: infinite;
      animation-delay: 0.5995639534883721s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.632993161855452s;
      animation-iteration-count: infinite;
      animation-delay: 0.6542553191489362s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5689290811054724s;
      animation-iteration-count: infinite;
      animation-delay: 0.7089460784313726s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5118578920369088s;
      animation-iteration-count: infinite;
      animation-delay: 0.7636363636363637s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4605934866804429s;
      animation-iteration-count: infinite;
      animation-delay: 0.8183262711864406s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4142135623730951s;
      animation-iteration-count: infinite;
      animation-delay: 0.873015873015873s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3719886811400708s;
      animation-iteration-count: infinite;
      animation-delay: 0.9277052238805971s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: 0.9823943661971831s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2977713690461004s;
      animation-iteration-count: infinite;
      animation-delay: 1.0370833333333334s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2649110640673518s;
      animation-iteration-count: infinite;
      animation-delay: 1.0917721518987342s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2344267996967353s;
      animation-iteration-count: infinite;
      animation-delay: 1.146460843373494s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2060453783110545s;
      animation-iteration-count: infinite;
      animation-delay: 1.2011494252873562s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.179535649239177s;
      animation-iteration-count: infinite;
      animation-delay: 1.255837912087912s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1547005383792515s;
      animation-iteration-count: infinite;
      animation-delay: 1.3105263157894738s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.131370849898476s;
      animation-iteration-count: infinite;
      animation-delay: 1.3652146464646464s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1094003924504583s;
      animation-iteration-count: infinite;
      animation-delay: 1.4199029126213591s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0886621079036347s;
      animation-iteration-count: infinite;
      animation-delay: 1.4745911214953271s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0690449676496976s;
      animation-iteration-count: infinite;
      animation-delay: 1.5292792792792793s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0504514628777804s;
      animation-iteration-count: infinite;
      animation-delay: 1.583967391304348s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0327955589886444s;
      animation-iteration-count: infinite;
      animation-delay: 1.638655462184874s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.016001016001524s;
      animation-iteration-count: infinite;
      animation-delay: 1.6933434959349594s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-32DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.7480314960629921s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-32waves{
      @include rainbowV2();
      @include row1-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-32waves{
      @include rainbowV2();
      @include row2-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-32waves{
      @include rainbowV2();
      @include row3-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-32waves{
      @include rainbowV2();
      @include row4-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-32waves{
      @include rainbowV2();
      @include row5-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-32waves{
      @include rainbowV2();
      @include row6-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-32waves{
      @include rainbowV2();
      @include row7-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-32waves{
      @include rainbowV2();
      @include row8-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-32waves{
      @include rainbowV2();
      @include row9-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-32waves{
      @include rainbowV2();
      @include row10-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-32waves{
      @include rainbowV2();
      @include row11-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-32waves{
      @include rainbowV2();
      @include row12-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-32waves{
      @include rainbowV2();
      @include row13-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-32waves{
      @include rainbowV2();
      @include row14-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-32waves{
      @include rainbowV2();
      @include row15-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-32waves{
      @include rainbowV2();
      @include row16-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-32waves{
      @include rainbowV2();
      @include row17-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-32waves{
      @include rainbowV2();
      @include row18-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-32waves{
      @include rainbowV2();
      @include row19-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-32waves{
      @include rainbowV2();
      @include row20-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-32waves{
      @include rainbowV2();
      @include row21-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-32waves{
      @include rainbowV2();
      @include row22-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-32waves{
      @include rainbowV2();
      @include row23-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-32waves{
      @include rainbowV2();
      @include row24-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-32waves{
      @include rainbowV2();
      @include row25-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-32waves{
      @include rainbowV2();
      @include row26-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-32waves{
      @include rainbowV2();
      @include row27-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-32waves{
      @include rainbowV2();
      @include row28-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-32waves{
      @include rainbowV2();
      @include row29-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-32waves{
      @include rainbowV2();
      @include row30-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-32waves{
      @include rainbowV2();
      @include row31-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-32waves{
      @include rainbowV2();
      @include row32-32DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      