@mixin rainbowTestAll {
        @keyframes rainbowTestAllAnim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.040625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.13125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.27187500000000003s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.4625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.703125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.9937500000000001s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.334375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.725s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.165625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.65625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.1968750000000004s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 3.7875000000000005s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 4.4281250000000005s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 5.11875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 5.859375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 6.65s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 7.4906250000000005s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 8.38125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 9.321875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 10.3125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 11.353125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 12.443750000000001s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 13.584375000000001s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 14.775000000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 16.015625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 17.306250000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 18.646875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 20.0375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 21.478125000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 22.96875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 24.509375000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-2Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 26.1s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
      
    .led1-2 {
      @include rainbowTestAll();
      @include row1-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-2 {
      @include rainbowTestAll();
      @include row2-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-2 {
      @include rainbowTestAll();
      @include row3-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-2 {
      @include rainbowTestAll();
      @include row4-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-2 {
      @include rainbowTestAll();
      @include row5-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-2 {
      @include rainbowTestAll();
      @include row6-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-2 {
      @include rainbowTestAll();
      @include row7-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-2 {
      @include rainbowTestAll();
      @include row8-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-2 {
      @include rainbowTestAll();
      @include row9-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-2 {
      @include rainbowTestAll();
      @include row10-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-2 {
      @include rainbowTestAll();
      @include row11-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-2 {
      @include rainbowTestAll();
      @include row12-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-2 {
      @include rainbowTestAll();
      @include row13-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-2 {
      @include rainbowTestAll();
      @include row14-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-2 {
      @include rainbowTestAll();
      @include row15-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-2 {
      @include rainbowTestAll();
      @include row16-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-2 {
      @include rainbowTestAll();
      @include row17-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-2 {
      @include rainbowTestAll();
      @include row18-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-2 {
      @include rainbowTestAll();
      @include row19-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-2 {
      @include rainbowTestAll();
      @include row20-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-2 {
      @include rainbowTestAll();
      @include row21-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-2 {
      @include rainbowTestAll();
      @include row22-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-2 {
      @include rainbowTestAll();
      @include row23-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-2 {
      @include rainbowTestAll();
      @include row24-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-2 {
      @include rainbowTestAll();
      @include row25-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-2 {
      @include rainbowTestAll();
      @include row26-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-2 {
      @include rainbowTestAll();
      @include row27-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-2 {
      @include rainbowTestAll();
      @include row28-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-2 {
      @include rainbowTestAll();
      @include row29-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-2 {
      @include rainbowTestAll();
      @include row30-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-2 {
      @include rainbowTestAll();
      @include row31-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-2 {
      @include rainbowTestAll();
      @include row32-2Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }