@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4.123105625617661s;
      animation-iteration-count: infinite;
      animation-delay: 0.0428921568627451s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.9154759474226504s;
      animation-iteration-count: infinite;
      animation-delay: 0.09138655462184875s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.3804761428476167s;
      animation-iteration-count: infinite;
      animation-delay: 0.1393716577540107s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.0615528128088303s;
      animation-iteration-count: infinite;
      animation-delay: 0.18725490196078431s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8439088914585775s;
      animation-iteration-count: infinite;
      animation-delay: 0.23510061919504643s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6832508230603465s;
      animation-iteration-count: infinite;
      animation-delay: 0.2829283887468031s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.558387444947959s;
      animation-iteration-count: infinite;
      animation-delay: 0.33074618736383443s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4577379737113252s;
      animation-iteration-count: infinite;
      animation-delay: 0.37855787476280833s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3743685418725535s;
      animation-iteration-count: infinite;
      animation-delay: 0.42636554621848743s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3038404810405297s;
      animation-iteration-count: infinite;
      animation-delay: 0.4741704374057315s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.243163121016122s;
      animation-iteration-count: infinite;
      animation-delay: 0.5219733242134063s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1902380714238083s;
      animation-iteration-count: infinite;
      animation-delay: 0.5697747183979975s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1435437497937313s;
      animation-iteration-count: infinite;
      animation-delay: 0.6175749711649365s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1019463300386794s;
      animation-iteration-count: infinite;
      animation-delay: 0.6653743315508022s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0645812948447542s;
      animation-iteration-count: infinite;
      animation-delay: 0.7131729810568295s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0307764064044151s;
      animation-iteration-count: infinite;
      animation-delay: 0.7609710550887021s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.8087686567164178s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.97182531580755s;
      animation-iteration-count: infinite;
      animation-delay: 0.8565658657829329s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9459053029269173s;
      animation-iteration-count: infinite;
      animation-delay: 0.9043627450980392s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9219544457292888s;
      animation-iteration-count: infinite;
      animation-delay: 0.9521593447505585s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8997354108424374s;
      animation-iteration-count: infinite;
      animation-delay: 0.9999557051736356s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8790490729915326s;
      animation-iteration-count: infinite;
      animation-delay: 1.0477518593644355s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8597269536210951s;
      animation-iteration-count: infinite;
      animation-delay: 1.0955478345184226s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8416254115301732s;
      animation-iteration-count: infinite;
      animation-delay: 1.1433436532507741s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8246211251235321s;
      animation-iteration-count: infinite;
      animation-delay: 1.1911393345216874s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8086075400626399s;
      animation-iteration-count: infinite;
      animation-delay: 1.2389348943460878s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7934920476158722s;
      animation-iteration-count: infinite;
      animation-delay: 1.286730346344145s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7791937224739796s;
      animation-iteration-count: infinite;
      animation-delay: 1.334525702172761s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7656414934887764s;
      animation-iteration-count: infinite;
      animation-delay: 1.3823209718670078s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.752772652709081s;
      animation-iteration-count: infinite;
      animation-delay: 1.4301161641127038s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7405316311773545s;
      animation-iteration-count: infinite;
      animation-delay: 1.477911286465806s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-17DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7288689868556626s;
      animation-iteration-count: infinite;
      animation-delay: 1.5257063455303381s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-17waves{
      @include rainbowV2();
      @include row1-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-17waves{
      @include rainbowV2();
      @include row2-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-17waves{
      @include rainbowV2();
      @include row3-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-17waves{
      @include rainbowV2();
      @include row4-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-17waves{
      @include rainbowV2();
      @include row5-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-17waves{
      @include rainbowV2();
      @include row6-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-17waves{
      @include rainbowV2();
      @include row7-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-17waves{
      @include rainbowV2();
      @include row8-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-17waves{
      @include rainbowV2();
      @include row9-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-17waves{
      @include rainbowV2();
      @include row10-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-17waves{
      @include rainbowV2();
      @include row11-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-17waves{
      @include rainbowV2();
      @include row12-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-17waves{
      @include rainbowV2();
      @include row13-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-17waves{
      @include rainbowV2();
      @include row14-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-17waves{
      @include rainbowV2();
      @include row15-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-17waves{
      @include rainbowV2();
      @include row16-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-17waves{
      @include rainbowV2();
      @include row17-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-17waves{
      @include rainbowV2();
      @include row18-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-17waves{
      @include rainbowV2();
      @include row19-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-17waves{
      @include rainbowV2();
      @include row20-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-17waves{
      @include rainbowV2();
      @include row21-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-17waves{
      @include rainbowV2();
      @include row22-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-17waves{
      @include rainbowV2();
      @include row23-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-17waves{
      @include rainbowV2();
      @include row24-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-17waves{
      @include rainbowV2();
      @include row25-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-17waves{
      @include rainbowV2();
      @include row26-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-17waves{
      @include rainbowV2();
      @include row27-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-17waves{
      @include rainbowV2();
      @include row28-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-17waves{
      @include rainbowV2();
      @include row29-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-17waves{
      @include rainbowV2();
      @include row30-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-17waves{
      @include rainbowV2();
      @include row31-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-17waves{
      @include rainbowV2();
      @include row32-17DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      