.row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.row3 {
  display: flex;
  flex-direction: row;
}
.row4 {
  display: flex;
  flex-direction: row;
}
.row5 {
  display: flex;
  flex-direction: row;
}
.row6 {
  display: flex;
  flex-direction: row;
}
.row7 {
  display: flex;
  flex-direction: row;
}
.row8 {
  display: flex;
  flex-direction: row;
}
.row9 {
  display: flex;
  flex-direction: row;
}
.row10 {
  display: flex;
  flex-direction: row;
}
.row11 {
  display: flex;
  flex-direction: row;
}
.row12 {
  display: flex;
  flex-direction: row;
}
.row13 {
  display: flex;
  flex-direction: row;
}
.row14 {
  display: flex;
  flex-direction: row;
}
.row15 {
  display: flex;
  flex-direction: row;
}
.row16 {
  display: flex;
  flex-direction: row;
}
.row17 {
  display: flex;
  flex-direction: row;
}
.row18 {
  display: flex;
  flex-direction: row;
}
.row19 {
  display: flex;
  flex-direction: row;
}
.row20 {
  display: flex;
  flex-direction: row;
}
.row21 {
  display: flex;
  flex-direction: row;
}
.row22 {
  display: flex;
  flex-direction: row;
}
.row23 {
  display: flex;
  flex-direction: row;
}
.row24 {
  display: flex;
  flex-direction: row;
}
.row25 {
  display: flex;
  flex-direction: row;
}
.row26 {
  display: flex;
  flex-direction: row;
}
.row27 {
  display: flex;
  flex-direction: row;
}
.row28 {
  display: flex;
  flex-direction: row;
}
.row29 {
  display: flex;
  flex-direction: row;
}
.row30 {
  display: flex;
  flex-direction: row;
}
.row31 {
  display: flex;
  flex-direction: row;
}
.row32 {
  display: flex;
  flex-direction: row;
}