@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.872983346207417s;
      animation-iteration-count: infinite;
      animation-delay: 0.04027777777777777s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.7386127875258306s;
      animation-iteration-count: infinite;
      animation-delay: 0.0869047619047619s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.23606797749979s;
      animation-iteration-count: infinite;
      animation-delay: 0.13295454545454546s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9364916731037085s;
      animation-iteration-count: infinite;
      animation-delay: 0.17888888888888888s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7320508075688772s;
      animation-iteration-count: infinite;
      animation-delay: 0.22478070175438597s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5811388300841898s;
      animation-iteration-count: infinite;
      animation-delay: 0.27065217391304347s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4638501094227998s;
      animation-iteration-count: infinite;
      animation-delay: 0.3165123456790123s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3693063937629153s;
      animation-iteration-count: infinite;
      animation-delay: 0.36236559139784946s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2909944487358056s;
      animation-iteration-count: infinite;
      animation-delay: 0.40821428571428575s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.224744871391589s;
      animation-iteration-count: infinite;
      animation-delay: 0.45405982905982906s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1677484162422844s;
      animation-iteration-count: infinite;
      animation-delay: 0.4999031007751938s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.118033988749895s;
      animation-iteration-count: infinite;
      animation-delay: 0.5457446808510639s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0741723110591492s;
      animation-iteration-count: infinite;
      animation-delay: 0.5915849673202614s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0350983390135313s;
      animation-iteration-count: infinite;
      animation-delay: 0.6374242424242424s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.6832627118644068s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9682458365518543s;
      animation-iteration-count: infinite;
      animation-delay: 0.729100529100529s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9393364366277243s;
      animation-iteration-count: infinite;
      animation-delay: 0.7749378109452736s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9128709291752769s;
      animation-iteration-count: infinite;
      animation-delay: 0.8207746478873239s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8885233166386386s;
      animation-iteration-count: infinite;
      animation-delay: 0.8666111111111111s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8660254037844386s;
      animation-iteration-count: infinite;
      animation-delay: 0.9124472573839663s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8451542547285166s;
      animation-iteration-count: infinite;
      animation-delay: 0.9582831325301204s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8257228238447705s;
      animation-iteration-count: infinite;
      animation-delay: 1.0041187739463602s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8075728530872482s;
      animation-iteration-count: infinite;
      animation-delay: 1.0499542124542125s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7905694150420949s;
      animation-iteration-count: infinite;
      animation-delay: 1.0957894736842104s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7745966692414834s;
      animation-iteration-count: infinite;
      animation-delay: 1.1416245791245792s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7595545253127499s;
      animation-iteration-count: infinite;
      animation-delay: 1.1874595469255662s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7453559924999299s;
      animation-iteration-count: infinite;
      animation-delay: 1.2332943925233644s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7319250547113999s;
      animation-iteration-count: infinite;
      animation-delay: 1.2791291291291291s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7191949522280763s;
      animation-iteration-count: infinite;
      animation-delay: 1.324963768115942s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7071067811865476s;
      animation-iteration-count: infinite;
      animation-delay: 1.370798319327731s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6956083436402524s;
      animation-iteration-count: infinite;
      animation-delay: 1.4166327913279133s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-15DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.6846531968814576s;
      animation-iteration-count: infinite;
      animation-delay: 1.4624671916010499s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-15waves{
      @include rainbowV2();
      @include row1-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-15waves{
      @include rainbowV2();
      @include row2-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-15waves{
      @include rainbowV2();
      @include row3-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-15waves{
      @include rainbowV2();
      @include row4-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-15waves{
      @include rainbowV2();
      @include row5-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-15waves{
      @include rainbowV2();
      @include row6-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-15waves{
      @include rainbowV2();
      @include row7-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-15waves{
      @include rainbowV2();
      @include row8-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-15waves{
      @include rainbowV2();
      @include row9-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-15waves{
      @include rainbowV2();
      @include row10-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-15waves{
      @include rainbowV2();
      @include row11-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-15waves{
      @include rainbowV2();
      @include row12-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-15waves{
      @include rainbowV2();
      @include row13-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-15waves{
      @include rainbowV2();
      @include row14-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-15waves{
      @include rainbowV2();
      @include row15-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-15waves{
      @include rainbowV2();
      @include row16-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-15waves{
      @include rainbowV2();
      @include row17-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-15waves{
      @include rainbowV2();
      @include row18-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-15waves{
      @include rainbowV2();
      @include row19-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-15waves{
      @include rainbowV2();
      @include row20-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-15waves{
      @include rainbowV2();
      @include row21-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-15waves{
      @include rainbowV2();
      @include row22-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-15waves{
      @include rainbowV2();
      @include row23-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-15waves{
      @include rainbowV2();
      @include row24-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-15waves{
      @include rainbowV2();
      @include row25-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-15waves{
      @include rainbowV2();
      @include row26-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-15waves{
      @include rainbowV2();
      @include row27-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-15waves{
      @include rainbowV2();
      @include row28-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-15waves{
      @include rainbowV2();
      @include row29-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-15waves{
      @include rainbowV2();
      @include row30-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-15waves{
      @include rainbowV2();
      @include row31-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-15waves{
      @include rainbowV2();
      @include row32-15DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      