@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.04166666666666667s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.8284271247461903s;
      animation-iteration-count: infinite;
      animation-delay: 0.08928571428571429s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.309401076758503s;
      animation-iteration-count: infinite;
      animation-delay: 0.13636363636363635s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.18333333333333335s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7888543819998317s;
      animation-iteration-count: infinite;
      animation-delay: 0.23026315789473684s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.632993161855452s;
      animation-iteration-count: infinite;
      animation-delay: 0.27717391304347827s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5118578920369088s;
      animation-iteration-count: infinite;
      animation-delay: 0.32407407407407407s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4142135623730951s;
      animation-iteration-count: infinite;
      animation-delay: 0.3709677419354839s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: 0.4178571428571428s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2649110640673518s;
      animation-iteration-count: infinite;
      animation-delay: 0.46474358974358976s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2060453783110545s;
      animation-iteration-count: infinite;
      animation-delay: 0.5116279069767442s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1547005383792515s;
      animation-iteration-count: infinite;
      animation-delay: 0.5585106382978724s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1094003924504583s;
      animation-iteration-count: infinite;
      animation-delay: 0.6053921568627451s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0690449676496976s;
      animation-iteration-count: infinite;
      animation-delay: 0.6522727272727272s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0327955589886444s;
      animation-iteration-count: infinite;
      animation-delay: 0.6991525423728814s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.746031746031746s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9701425001453319s;
      animation-iteration-count: infinite;
      animation-delay: 0.7929104477611941s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9428090415820634s;
      animation-iteration-count: infinite;
      animation-delay: 0.8397887323943662s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9176629354822471s;
      animation-iteration-count: infinite;
      animation-delay: 0.8866666666666667s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8944271909999159s;
      animation-iteration-count: infinite;
      animation-delay: 0.9335443037974684s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8728715609439694s;
      animation-iteration-count: infinite;
      animation-delay: 0.9804216867469879s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8528028654224418s;
      animation-iteration-count: infinite;
      animation-delay: 1.0272988505747127s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8340576562282991s;
      animation-iteration-count: infinite;
      animation-delay: 1.0741758241758241s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.816496580927726s;
      animation-iteration-count: infinite;
      animation-delay: 1.1210526315789473s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-delay: 1.1679292929292928s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7844645405527362s;
      animation-iteration-count: infinite;
      animation-delay: 1.2148058252427185s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.769800358919501s;
      animation-iteration-count: infinite;
      animation-delay: 1.2616822429906542s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7559289460184544s;
      animation-iteration-count: infinite;
      animation-delay: 1.3085585585585586s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7427813527082074s;
      animation-iteration-count: infinite;
      animation-delay: 1.3554347826086957s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7302967433402214s;
      animation-iteration-count: infinite;
      animation-delay: 1.4023109243697478s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7184212081070996s;
      animation-iteration-count: infinite;
      animation-delay: 1.4491869918699187s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-16DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.7071067811865476s;
      animation-iteration-count: infinite;
      animation-delay: 1.4960629921259843s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-16waves{
      @include rainbowV2();
      @include row1-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-16waves{
      @include rainbowV2();
      @include row2-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-16waves{
      @include rainbowV2();
      @include row3-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-16waves{
      @include rainbowV2();
      @include row4-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-16waves{
      @include rainbowV2();
      @include row5-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-16waves{
      @include rainbowV2();
      @include row6-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-16waves{
      @include rainbowV2();
      @include row7-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-16waves{
      @include rainbowV2();
      @include row8-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-16waves{
      @include rainbowV2();
      @include row9-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-16waves{
      @include rainbowV2();
      @include row10-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-16waves{
      @include rainbowV2();
      @include row11-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-16waves{
      @include rainbowV2();
      @include row12-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-16waves{
      @include rainbowV2();
      @include row13-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-16waves{
      @include rainbowV2();
      @include row14-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-16waves{
      @include rainbowV2();
      @include row15-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-16waves{
      @include rainbowV2();
      @include row16-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-16waves{
      @include rainbowV2();
      @include row17-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-16waves{
      @include rainbowV2();
      @include row18-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-16waves{
      @include rainbowV2();
      @include row19-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-16waves{
      @include rainbowV2();
      @include row20-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-16waves{
      @include rainbowV2();
      @include row21-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-16waves{
      @include rainbowV2();
      @include row22-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-16waves{
      @include rainbowV2();
      @include row23-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-16waves{
      @include rainbowV2();
      @include row24-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-16waves{
      @include rainbowV2();
      @include row25-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-16waves{
      @include rainbowV2();
      @include row26-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-16waves{
      @include rainbowV2();
      @include row27-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-16waves{
      @include rainbowV2();
      @include row28-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-16waves{
      @include rainbowV2();
      @include row29-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-16waves{
      @include rainbowV2();
      @include row30-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-16waves{
      @include rainbowV2();
      @include row31-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-16waves{
      @include rainbowV2();
      @include row32-16DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      