@mixin rainbowFourSpirals {
        @keyframes rainbowFourSpiralsAnim{
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 0.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 2.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 3s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 3.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 3.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 3.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 4.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 5.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 6.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 7s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 7.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 7.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 7.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-3DelayFourSpirals {
      animation-name: rainbowFourSpiralsAnim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 8s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-3fourSpirals{
      @include rainbowFourSpirals();
      @include row1-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-3fourSpirals{
      @include rainbowFourSpirals();
      @include row2-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-3fourSpirals{
      @include rainbowFourSpirals();
      @include row3-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-3fourSpirals{
      @include rainbowFourSpirals();
      @include row4-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-3fourSpirals{
      @include rainbowFourSpirals();
      @include row5-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-3fourSpirals{
      @include rainbowFourSpirals();
      @include row6-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-3fourSpirals{
      @include rainbowFourSpirals();
      @include row7-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-3fourSpirals{
      @include rainbowFourSpirals();
      @include row8-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-3fourSpirals{
      @include rainbowFourSpirals();
      @include row9-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-3fourSpirals{
      @include rainbowFourSpirals();
      @include row10-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-3fourSpirals{
      @include rainbowFourSpirals();
      @include row11-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-3fourSpirals{
      @include rainbowFourSpirals();
      @include row12-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-3fourSpirals{
      @include rainbowFourSpirals();
      @include row13-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-3fourSpirals{
      @include rainbowFourSpirals();
      @include row14-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-3fourSpirals{
      @include rainbowFourSpirals();
      @include row15-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-3fourSpirals{
      @include rainbowFourSpirals();
      @include row16-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-3fourSpirals{
      @include rainbowFourSpirals();
      @include row17-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-3fourSpirals{
      @include rainbowFourSpirals();
      @include row18-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-3fourSpirals{
      @include rainbowFourSpirals();
      @include row19-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-3fourSpirals{
      @include rainbowFourSpirals();
      @include row20-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-3fourSpirals{
      @include rainbowFourSpirals();
      @include row21-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-3fourSpirals{
      @include rainbowFourSpirals();
      @include row22-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-3fourSpirals{
      @include rainbowFourSpirals();
      @include row23-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-3fourSpirals{
      @include rainbowFourSpirals();
      @include row24-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-3fourSpirals{
      @include rainbowFourSpirals();
      @include row25-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-3fourSpirals{
      @include rainbowFourSpirals();
      @include row26-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-3fourSpirals{
      @include rainbowFourSpirals();
      @include row27-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-3fourSpirals{
      @include rainbowFourSpirals();
      @include row28-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-3fourSpirals{
      @include rainbowFourSpirals();
      @include row29-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-3fourSpirals{
      @include rainbowFourSpirals();
      @include row30-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-3fourSpirals{
      @include rainbowFourSpirals();
      @include row31-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-3fourSpirals{
      @include rainbowFourSpirals();
      @include row32-3DelayFourSpirals();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }