@mixin rainbowTestAll {
        @keyframes rainbowTestAllAnim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.01800595238095238s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.040773809523809525s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.06830357142857144s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.1005952380952381s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.13764880952380953s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.17946428571428574s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.22604166666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.2773809523809524s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.33348214285714284s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.3943452380952381s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.4599702380952381s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.530357142857143s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6055059523809524s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6854166666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.7700892857142857s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.8595238095238096s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.9537202380952382s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.0526785714285714s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.1563988095238096s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.2648809523809523s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.378125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.4961309523809525s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.6188988095238097s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.7464285714285717s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.8787202380952381s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.0157738095238096s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.1575892857142858s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.3041666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.455505952380953s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.611607142857143s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.7724702380952384s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-21Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.9380952380952383s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-21 {
      @include rainbowTestAll();
      @include row1-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-21 {
      @include rainbowTestAll();
      @include row2-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-21 {
      @include rainbowTestAll();
      @include row3-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-21 {
      @include rainbowTestAll();
      @include row4-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-21 {
      @include rainbowTestAll();
      @include row5-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-21 {
      @include rainbowTestAll();
      @include row6-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-21 {
      @include rainbowTestAll();
      @include row7-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-21 {
      @include rainbowTestAll();
      @include row8-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-21 {
      @include rainbowTestAll();
      @include row9-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-21 {
      @include rainbowTestAll();
      @include row10-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-21 {
      @include rainbowTestAll();
      @include row11-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-21 {
      @include rainbowTestAll();
      @include row12-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-21 {
      @include rainbowTestAll();
      @include row13-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-21 {
      @include rainbowTestAll();
      @include row14-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-21 {
      @include rainbowTestAll();
      @include row15-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-21 {
      @include rainbowTestAll();
      @include row16-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-21 {
      @include rainbowTestAll();
      @include row17-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-21 {
      @include rainbowTestAll();
      @include row18-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-21 {
      @include rainbowTestAll();
      @include row19-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-21 {
      @include rainbowTestAll();
      @include row20-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-21 {
      @include rainbowTestAll();
      @include row21-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-21 {
      @include rainbowTestAll();
      @include row22-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-21 {
      @include rainbowTestAll();
      @include row23-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-21 {
      @include rainbowTestAll();
      @include row24-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-21 {
      @include rainbowTestAll();
      @include row25-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-21 {
      @include rainbowTestAll();
      @include row26-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-21 {
      @include rainbowTestAll();
      @include row27-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-21 {
      @include rainbowTestAll();
      @include row28-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-21 {
      @include rainbowTestAll();
      @include row29-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-21 {
      @include rainbowTestAll();
      @include row30-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-21 {
      @include rainbowTestAll();
      @include row31-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-21 {
      @include rainbowTestAll();
      @include row32-21Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      