@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 4.58257569495584s;
      animation-iteration-count: infinite;
      animation-delay: 0.04662698412698413s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.24037034920393s;
      animation-iteration-count: infinite;
      animation-delay: 0.0977891156462585s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.6457513110645907s;
      animation-iteration-count: infinite;
      animation-delay: 0.14853896103896103s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.29128784747792s;
      animation-iteration-count: infinite;
      animation-delay: 0.19920634920634922s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.04939015319192s;
      animation-iteration-count: infinite;
      animation-delay: 0.24984335839598998s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8708286933869707s;
      animation-iteration-count: infinite;
      animation-delay: 0.30046583850931674s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.7320508075688772s;
      animation-iteration-count: infinite;
      animation-delay: 0.35108024691358025s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.620185174601965s;
      animation-iteration-count: infinite;
      animation-delay: 0.40168970814132104s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5275252316519468s;
      animation-iteration-count: infinite;
      animation-delay: 0.45229591836734695s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.449137674618944s;
      animation-iteration-count: infinite;
      animation-delay: 0.5028998778998779s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.381698559415515s;
      animation-iteration-count: infinite;
      animation-delay: 0.5535022148394242s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3228756555322954s;
      animation-iteration-count: infinite;
      animation-delay: 0.6041033434650456s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.270977818604485s;
      animation-iteration-count: infinite;
      animation-delay: 0.654703548085901s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.224744871391589s;
      animation-iteration-count: infinite;
      animation-delay: 0.7053030303030303s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1832159566199232s;
      animation-iteration-count: infinite;
      animation-delay: 0.7559019370460048s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.14564392373896s;
      animation-iteration-count: infinite;
      animation-delay: 0.8065003779289494s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1114378604524227s;
      animation-iteration-count: infinite;
      animation-delay: 0.8570984363894811s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0801234497346435s;
      animation-iteration-count: infinite;
      animation-delay: 0.9076961770623743s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0513149660756937s;
      animation-iteration-count: infinite;
      animation-delay: 0.9582936507936508s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.02469507659596s;
      animation-iteration-count: infinite;
      animation-delay: 1.0088908981314044s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.0594879518072289s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9770084209183945s;
      animation-iteration-count: infinite;
      animation-delay: 1.1100848385331143s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9555330859059091s;
      animation-iteration-count: infinite;
      animation-delay: 1.1606815803244375s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9354143466934853s;
      animation-iteration-count: infinite;
      animation-delay: 1.2112781954887217s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.916515138991168s;
      animation-iteration-count: infinite;
      animation-delay: 1.2618746993746994s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8987170342729172s;
      animation-iteration-count: infinite;
      animation-delay: 1.3124711049468332s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8819171036881969s;
      animation-iteration-count: infinite;
      animation-delay: 1.3630674232309747s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8660254037844386s;
      animation-iteration-count: infinite;
      animation-delay: 1.4136636636636637s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8509629433967631s;
      animation-iteration-count: infinite;
      animation-delay: 1.46425983436853s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8366600265340756s;
      animation-iteration-count: infinite;
      animation-delay: 1.5148559423769508s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8230548917531015s;
      animation-iteration-count: infinite;
      animation-delay: 1.5654519938056524s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-21DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.8100925873009825s;
      animation-iteration-count: infinite;
      animation-delay: 1.61604799400075s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-21waves{
      @include rainbowV2();
      @include row1-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-21waves{
      @include rainbowV2();
      @include row2-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-21waves{
      @include rainbowV2();
      @include row3-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-21waves{
      @include rainbowV2();
      @include row4-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-21waves{
      @include rainbowV2();
      @include row5-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-21waves{
      @include rainbowV2();
      @include row6-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-21waves{
      @include rainbowV2();
      @include row7-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-21waves{
      @include rainbowV2();
      @include row8-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-21waves{
      @include rainbowV2();
      @include row9-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-21waves{
      @include rainbowV2();
      @include row10-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-21waves{
      @include rainbowV2();
      @include row11-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-21waves{
      @include rainbowV2();
      @include row12-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-21waves{
      @include rainbowV2();
      @include row13-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-21waves{
      @include rainbowV2();
      @include row14-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-21waves{
      @include rainbowV2();
      @include row15-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-21waves{
      @include rainbowV2();
      @include row16-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-21waves{
      @include rainbowV2();
      @include row17-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-21waves{
      @include rainbowV2();
      @include row18-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-21waves{
      @include rainbowV2();
      @include row19-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-21waves{
      @include rainbowV2();
      @include row20-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-21waves{
      @include rainbowV2();
      @include row21-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-21waves{
      @include rainbowV2();
      @include row22-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-21waves{
      @include rainbowV2();
      @include row23-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-21waves{
      @include rainbowV2();
      @include row24-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-21waves{
      @include rainbowV2();
      @include row25-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-21waves{
      @include rainbowV2();
      @include row26-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-21waves{
      @include rainbowV2();
      @include row27-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-21waves{
      @include rainbowV2();
      @include row28-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-21waves{
      @include rainbowV2();
      @include row29-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-21waves{
      @include rainbowV2();
      @include row30-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-21waves{
      @include rainbowV2();
      @include row31-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-21waves{
      @include rainbowV2();
      @include row32-21DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      