@mixin rainbowTestAll {
        @keyframes rainbowTestAllAnim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.017291666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.03791666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.061875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.08916666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.11979166666666666s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.15375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.19104166666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.2316666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.275625s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.32291666666666663s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.37354166666666666s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.42750000000000005s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.4847916666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.5454166666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.609375s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.6766666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.7472916666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.82125s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.8985416666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 0.9791666666666666s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.0631249999999999s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.1504166666666666s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.2410416666666668s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.3350000000000002s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.4322916666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.5329166666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.636875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.7441666666666669s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.8547916666666668s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1.96875s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.0860416666666666s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-30Delay {
      animation-name: rainbowTestAllAnim;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 2.206666666666667s;
      /* animation-direction: reverse; */
      animation-direction: alternate;
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-30 {
      @include rainbowTestAll();
      @include row1-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-30 {
      @include rainbowTestAll();
      @include row2-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-30 {
      @include rainbowTestAll();
      @include row3-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-30 {
      @include rainbowTestAll();
      @include row4-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-30 {
      @include rainbowTestAll();
      @include row5-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-30 {
      @include rainbowTestAll();
      @include row6-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-30 {
      @include rainbowTestAll();
      @include row7-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-30 {
      @include rainbowTestAll();
      @include row8-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-30 {
      @include rainbowTestAll();
      @include row9-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-30 {
      @include rainbowTestAll();
      @include row10-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-30 {
      @include rainbowTestAll();
      @include row11-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-30 {
      @include rainbowTestAll();
      @include row12-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-30 {
      @include rainbowTestAll();
      @include row13-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-30 {
      @include rainbowTestAll();
      @include row14-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-30 {
      @include rainbowTestAll();
      @include row15-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-30 {
      @include rainbowTestAll();
      @include row16-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-30 {
      @include rainbowTestAll();
      @include row17-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-30 {
      @include rainbowTestAll();
      @include row18-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-30 {
      @include rainbowTestAll();
      @include row19-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-30 {
      @include rainbowTestAll();
      @include row20-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-30 {
      @include rainbowTestAll();
      @include row21-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-30 {
      @include rainbowTestAll();
      @include row22-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-30 {
      @include rainbowTestAll();
      @include row23-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-30 {
      @include rainbowTestAll();
      @include row24-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-30 {
      @include rainbowTestAll();
      @include row25-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-30 {
      @include rainbowTestAll();
      @include row26-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-30 {
      @include rainbowTestAll();
      @include row27-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-30 {
      @include rainbowTestAll();
      @include row28-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-30 {
      @include rainbowTestAll();
      @include row29-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-30 {
      @include rainbowTestAll();
      @include row30-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-30 {
      @include rainbowTestAll();
      @include row31-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-30 {
      @include rainbowTestAll();
      @include row32-30Delay();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      