@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.06770833333333333s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.0798611111111111s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.103125s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.12797619047619047s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.15335648148148145s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.1789772727272727s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.2047275641025641s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.23055555555555557s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.25643382352941174s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.28234649122807015s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.3082837301587301s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: -0.3342391304347826s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.083333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.36020833333333335s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.3861882716049383s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.41217672413793105s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.43817204301075274s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.416666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.4641729797979798s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.49017857142857146s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.583333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.5161880630630631s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.5422008547008548s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.5682164634146342s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.594234496124031s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.916666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.6202546296296296s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: -0.6462765957446808s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.0833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.6723001700680273s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.1666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.6983251633986927s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.7243514150943395s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.3333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.7503787878787878s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.4166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.7764071637426901s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.802436440677966s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.8284665300546448s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-12DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.8544973544973544s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-12V2{
      @include rainbowV2();
      @include row1-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-12V2{
      @include rainbowV2();
      @include row2-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-12V2{
      @include rainbowV2();
      @include row3-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-12V2{
      @include rainbowV2();
      @include row4-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-12V2{
      @include rainbowV2();
      @include row5-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-12V2{
      @include rainbowV2();
      @include row6-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-12V2{
      @include rainbowV2();
      @include row7-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-12V2{
      @include rainbowV2();
      @include row8-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-12V2{
      @include rainbowV2();
      @include row9-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-12V2{
      @include rainbowV2();
      @include row10-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-12V2{
      @include rainbowV2();
      @include row11-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-12V2{
      @include rainbowV2();
      @include row12-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-12V2{
      @include rainbowV2();
      @include row13-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-12V2{
      @include rainbowV2();
      @include row14-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-12V2{
      @include rainbowV2();
      @include row15-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-12V2{
      @include rainbowV2();
      @include row16-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-12V2{
      @include rainbowV2();
      @include row17-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-12V2{
      @include rainbowV2();
      @include row18-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-12V2{
      @include rainbowV2();
      @include row19-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-12V2{
      @include rainbowV2();
      @include row20-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-12V2{
      @include rainbowV2();
      @include row21-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-12V2{
      @include rainbowV2();
      @include row22-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-12V2{
      @include rainbowV2();
      @include row23-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-12V2{
      @include rainbowV2();
      @include row24-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-12V2{
      @include rainbowV2();
      @include row25-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-12V2{
      @include rainbowV2();
      @include row26-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-12V2{
      @include rainbowV2();
      @include row27-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-12V2{
      @include rainbowV2();
      @include row28-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-12V2{
      @include rainbowV2();
      @include row29-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-12V2{
      @include rainbowV2();
      @include row30-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-12V2{
      @include rainbowV2();
      @include row31-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-12V2{
      @include rainbowV2();
      @include row32-12DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      