@mixin spiral {
        @keyframes spiralAnim {
          0% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 255, 255, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 8.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 9.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 10.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 11.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 11.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 12.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 13.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 13.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 14.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 15s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 15.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 16.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 16.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 17.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 18.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 18.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 19.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-19Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 20s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-19spiral{
      @include spiral();
      @include row1-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-19spiral{
      @include spiral();
      @include row2-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-19spiral{
      @include spiral();
      @include row3-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-19spiral{
      @include spiral();
      @include row4-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-19spiral{
      @include spiral();
      @include row5-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-19spiral{
      @include spiral();
      @include row6-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-19spiral{
      @include spiral();
      @include row7-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-19spiral{
      @include spiral();
      @include row8-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-19spiral{
      @include spiral();
      @include row9-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-19spiral{
      @include spiral();
      @include row10-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-19spiral{
      @include spiral();
      @include row11-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-19spiral{
      @include spiral();
      @include row12-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-19spiral{
      @include spiral();
      @include row13-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-19spiral{
      @include spiral();
      @include row14-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-19spiral{
      @include spiral();
      @include row15-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-19spiral{
      @include spiral();
      @include row16-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-19spiral{
      @include spiral();
      @include row17-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-19spiral{
      @include spiral();
      @include row18-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-19spiral{
      @include spiral();
      @include row19-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-19spiral{
      @include spiral();
      @include row20-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-19spiral{
      @include spiral();
      @include row21-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-19spiral{
      @include spiral();
      @include row22-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-19spiral{
      @include spiral();
      @include row23-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-19spiral{
      @include spiral();
      @include row24-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-19spiral{
      @include spiral();
      @include row25-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-19spiral{
      @include spiral();
      @include row26-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-19spiral{
      @include spiral();
      @include row27-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-19spiral{
      @include spiral();
      @include row28-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-19spiral{
      @include spiral();
      @include row29-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-19spiral{
      @include spiral();
      @include row30-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-19spiral{
      @include spiral();
      @include row31-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-19spiral{
      @include spiral();
      @include row32-19Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }