@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.084375s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.10208333333333333s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.133125s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.16607142857142856s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.1996527777777778s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.23352272727272727s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.2675480769230769s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.3016666666666667s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.3358455882352941s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.8333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.3700657894736842s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.40431547619047625s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: -0.43858695652173907s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.083333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.47287500000000005s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.166666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.507175925925926s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.5414870689655172s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.333333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.5758064516129032s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.416666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.6101325757575758s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: -0.6444642857142858s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.583333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.6788006756756757s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.666666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.7131410256410255s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.75s;
      animation-iteration-count: infinite;
      animation-delay: -0.7474847560975608s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.833333333333333s;
      animation-iteration-count: infinite;
      animation-delay: -0.7818313953488372s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.916666666666667s;
      animation-iteration-count: infinite;
      animation-delay: -0.8161805555555555s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: -0.850531914893617s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.0833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.8848852040816326s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.1666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -0.9192401960784313s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.25s;
      animation-iteration-count: infinite;
      animation-delay: -0.9535966981132076s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.3333333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -0.9879545454545455s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.4166666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -1.022313596491228s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-delay: -1.0566737288135593s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.5833333333333335s;
      animation-iteration-count: infinite;
      animation-delay: -1.091034836065574s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-10DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.6666666666666665s;
      animation-iteration-count: infinite;
      animation-delay: -1.1253968253968254s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-10V2{
      @include rainbowV2();
      @include row1-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-10V2{
      @include rainbowV2();
      @include row2-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-10V2{
      @include rainbowV2();
      @include row3-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-10V2{
      @include rainbowV2();
      @include row4-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-10V2{
      @include rainbowV2();
      @include row5-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-10V2{
      @include rainbowV2();
      @include row6-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-10V2{
      @include rainbowV2();
      @include row7-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-10V2{
      @include rainbowV2();
      @include row8-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-10V2{
      @include rainbowV2();
      @include row9-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-10V2{
      @include rainbowV2();
      @include row10-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-10V2{
      @include rainbowV2();
      @include row11-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-10V2{
      @include rainbowV2();
      @include row12-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-10V2{
      @include rainbowV2();
      @include row13-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-10V2{
      @include rainbowV2();
      @include row14-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-10V2{
      @include rainbowV2();
      @include row15-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-10V2{
      @include rainbowV2();
      @include row16-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-10V2{
      @include rainbowV2();
      @include row17-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-10V2{
      @include rainbowV2();
      @include row18-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-10V2{
      @include rainbowV2();
      @include row19-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-10V2{
      @include rainbowV2();
      @include row20-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-10V2{
      @include rainbowV2();
      @include row21-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-10V2{
      @include rainbowV2();
      @include row22-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-10V2{
      @include rainbowV2();
      @include row23-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-10V2{
      @include rainbowV2();
      @include row24-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-10V2{
      @include rainbowV2();
      @include row25-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-10V2{
      @include rainbowV2();
      @include row26-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-10V2{
      @include rainbowV2();
      @include row27-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-10V2{
      @include rainbowV2();
      @include row28-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-10V2{
      @include rainbowV2();
      @include row29-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-10V2{
      @include rainbowV2();
      @include row30-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-10V2{
      @include rainbowV2();
      @include row31-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-10V2{
      @include rainbowV2();
      @include row32-10DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      