@mixin rainbowV2 {
        @keyframes rainbowV2Anim {
          0% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 100, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 0, 200, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
      
    @mixin row1-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 5.5677643628300215s;
      animation-iteration-count: infinite;
      animation-delay: 0.051747311827956985s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row2-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.9370039370059056s;
      animation-iteration-count: infinite;
      animation-delay: 0.10656682027649769s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row3-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 3.2145502536643185s;
      animation-iteration-count: infinite;
      animation-delay: 0.16110703812316715s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row4-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.7838821814150108s;
      animation-iteration-count: infinite;
      animation-delay: 0.21559139784946235s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row5-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.4899799195977463s;
      animation-iteration-count: infinite;
      animation-delay: 0.27005517826825126s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row6-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.273030282830976s;
      animation-iteration-count: infinite;
      animation-delay: 0.32450911640953717s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row7-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 2.104417123236605s;
      animation-iteration-count: infinite;
      animation-delay: 0.37895758661887696s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row8-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.9685019685029528s;
      animation-iteration-count: infinite;
      animation-delay: 0.4334027055150884s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row9-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.855921454276674s;
      animation-iteration-count: infinite;
      animation-delay: 0.48784562211981564s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row10-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.760681686165901s;
      animation-iteration-count: infinite;
      animation-delay: 0.5422870140612076s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row11-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6787441193290353s;
      animation-iteration-count: infinite;
      animation-delay: 0.5967273068267067s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row12-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.6072751268321592s;
      animation-iteration-count: infinite;
      animation-delay: 0.6511667810569663s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row13-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.5442199922988256s;
      animation-iteration-count: infinite;
      animation-delay: 0.7056056293485136s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row14-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4880476182856899s;
      animation-iteration-count: infinite;
      animation-delay: 0.7600439882697947s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row15-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.4375905768565218s;
      animation-iteration-count: infinite;
      animation-delay: 0.8144819573537452s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row16-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3919410907075054s;
      animation-iteration-count: infinite;
      animation-delay: 0.8689196108550947s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row17-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3503812097939996s;
      animation-iteration-count: infinite;
      animation-delay: 0.9233570052961002s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row18-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.3123346456686351s;
      animation-iteration-count: infinite;
      animation-delay: 0.9777941844616084s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row19-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2773327473170102s;
      animation-iteration-count: infinite;
      animation-delay: 1.032231182795699s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row20-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2449899597988732s;
      animation-iteration-count: infinite;
      animation-delay: 1.0866680277664353s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row21-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.2149857925879117s;
      animation-iteration-count: infinite;
      animation-delay: 1.1411047415468325s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row22-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1870513506545997s;
      animation-iteration-count: infinite;
      animation-delay: 1.1955413422321097s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row23-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1609591237233643s;
      animation-iteration-count: infinite;
      animation-delay: 1.2499778447359093s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row24-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.136515141415488s;
      animation-iteration-count: infinite;
      animation-delay: 1.304414261460102s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row25-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.1135528725660044s;
      animation-iteration-count: infinite;
      animation-delay: 1.3588506028022156s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row26-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0919284281983377s;
      animation-iteration-count: infinite;
      animation-delay: 1.4132868775446288s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row27-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0715167512214394s;
      animation-iteration-count: infinite;
      animation-delay: 1.4677230931564667s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row28-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0522085616183026s;
      animation-iteration-count: infinite;
      animation-delay: 1.5221592560302237s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row29-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0339078862458586s;
      animation-iteration-count: infinite;
      animation-delay: 1.5765953716690042s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row30-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1.0165300454651272s;
      animation-iteration-count: infinite;
      animation-delay: 1.6310314448359988s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row31-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1.6854674796747968s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
    @mixin row32-31DelayV2 {
      animation-name: rainbowV2Anim;
      animation-duration: 0.9842509842514764s;
      animation-iteration-count: infinite;
      animation-delay: 1.7399034798069597s;
      animation-direction: reverse;
      /* animation-direction: alternate; */
      animation-timing-function: linear;
      /* animation-timing-function: ease-in; */
      /* animation-timing-function: ease-out; */
      /* animation-timing-function: ease-in-out; */
    }
    
      
      
    .led1-31waves{
      @include rainbowV2();
      @include row1-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-31waves{
      @include rainbowV2();
      @include row2-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-31waves{
      @include rainbowV2();
      @include row3-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-31waves{
      @include rainbowV2();
      @include row4-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-31waves{
      @include rainbowV2();
      @include row5-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-31waves{
      @include rainbowV2();
      @include row6-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-31waves{
      @include rainbowV2();
      @include row7-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-31waves{
      @include rainbowV2();
      @include row8-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-31waves{
      @include rainbowV2();
      @include row9-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-31waves{
      @include rainbowV2();
      @include row10-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-31waves{
      @include rainbowV2();
      @include row11-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-31waves{
      @include rainbowV2();
      @include row12-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-31waves{
      @include rainbowV2();
      @include row13-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-31waves{
      @include rainbowV2();
      @include row14-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-31waves{
      @include rainbowV2();
      @include row15-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-31waves{
      @include rainbowV2();
      @include row16-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-31waves{
      @include rainbowV2();
      @include row17-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-31waves{
      @include rainbowV2();
      @include row18-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-31waves{
      @include rainbowV2();
      @include row19-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-31waves{
      @include rainbowV2();
      @include row20-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-31waves{
      @include rainbowV2();
      @include row21-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-31waves{
      @include rainbowV2();
      @include row22-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-31waves{
      @include rainbowV2();
      @include row23-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-31waves{
      @include rainbowV2();
      @include row24-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-31waves{
      @include rainbowV2();
      @include row25-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-31waves{
      @include rainbowV2();
      @include row26-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-31waves{
      @include rainbowV2();
      @include row27-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-31waves{
      @include rainbowV2();
      @include row28-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-31waves{
      @include rainbowV2();
      @include row29-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-31waves{
      @include rainbowV2();
      @include row30-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-31waves{
      @include rainbowV2();
      @include row31-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-31waves{
      @include rainbowV2();
      @include row32-31DelayV2();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
      