@mixin spiral {
        @keyframes spiralAnim {
          0% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px; top: 0px; */
            /* border-radius: 0 0 0 0; */
          }
          25% {
            background-color: rgba(255, 0, 0, 1);
            /* left: 30px;
            top: 0px; */
            /* border-radius: 50% 0 0 0 */
          }
          50% {
            background-color: rgba(0, 255, 0, 1);
            /* left: 30px;
            top: 30px; */
            /* border-radius: 50% 50% 0 0 */
          }
          75% {
            background-color: rgba(0, 0, 255, 1);
            /* left: 0px;
            top: 30px; */
            /* border-radius: 50% 0 50% 50% */
          }
          100% {
            background-color: rgba(255, 255, 255, 1);
            /* left: 0px;
            top: 0px; */
            /* border-radius: 50% 50% 50% 50% */
          }
        }
      }
      
    @mixin row1-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.21875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row2-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.4375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row3-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.65625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row4-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row5-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.09375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row6-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.3125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row7-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.53125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row8-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.75s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row9-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 1.96875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row10-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.1875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row11-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.40625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row12-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row13-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 2.84375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row14-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.0625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row15-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.28125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row16-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.5s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row17-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.71875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row18-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 3.9375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row19-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.15625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row20-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row21-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.59375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row22-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 4.8125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row23-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.03125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row24-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.25s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row25-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.46875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row26-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.6875s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row27-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 5.90625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row28-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row29-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.34375s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row30-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.5625s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row31-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 6.78125s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
    @mixin row32-6Delayspiral {
      animation-name: spiralAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 7s;
      animation-direction: reverse;
      /*animation-direction: alternate;*/
      /*animation-timing-function: linear;*/
      animation-timing-function: ease-in;
      /* animation-timing-function: ease-out; */
      /*animation-timing-function: ease-in-out;*/
    }
    
      
    .led1-6spiral{
      @include spiral();
      @include row1-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led2-6spiral{
      @include spiral();
      @include row2-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led3-6spiral{
      @include spiral();
      @include row3-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led4-6spiral{
      @include spiral();
      @include row4-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led5-6spiral{
      @include spiral();
      @include row5-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led6-6spiral{
      @include spiral();
      @include row6-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led7-6spiral{
      @include spiral();
      @include row7-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led8-6spiral{
      @include spiral();
      @include row8-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led9-6spiral{
      @include spiral();
      @include row9-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led10-6spiral{
      @include spiral();
      @include row10-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led11-6spiral{
      @include spiral();
      @include row11-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led12-6spiral{
      @include spiral();
      @include row12-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led13-6spiral{
      @include spiral();
      @include row13-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led14-6spiral{
      @include spiral();
      @include row14-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led15-6spiral{
      @include spiral();
      @include row15-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led16-6spiral{
      @include spiral();
      @include row16-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led17-6spiral{
      @include spiral();
      @include row17-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led18-6spiral{
      @include spiral();
      @include row18-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led19-6spiral{
      @include spiral();
      @include row19-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led20-6spiral{
      @include spiral();
      @include row20-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led21-6spiral{
      @include spiral();
      @include row21-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led22-6spiral{
      @include spiral();
      @include row22-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led23-6spiral{
      @include spiral();
      @include row23-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led24-6spiral{
      @include spiral();
      @include row24-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led25-6spiral{
      @include spiral();
      @include row25-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led26-6spiral{
      @include spiral();
      @include row26-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led27-6spiral{
      @include spiral();
      @include row27-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led28-6spiral{
      @include spiral();
      @include row28-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led29-6spiral{
      @include spiral();
      @include row29-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led30-6spiral{
      @include spiral();
      @include row30-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led31-6spiral{
      @include spiral();
      @include row31-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }
    .led32-6spiral{
      @include spiral();
      @include row32-6Delayspiral();
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      background: transparent;
      width: 10vw;
      height: 3vh;
      position: relative;
    }